@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ledger&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap");

* {
  color: white;
}
